.header {
    background-color: #7fff00;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }